<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title></title>
  <link rel="stylesheet" href="Final-Confirmation.css" />
  <link rel="stylesheet" href="Styles/bootstrap.min.css" />
</head>

<body>

<div class="container-fluid">
  <div class="row mt-4 justify-content-center text-primary h1">
    <span>Thank you&nbsp;</span><span>Adit</span><span>!</span>
  </div>
  <div class="row mt-4 justify-content-center text-primary h3">
    <span>We are on it.</span>
  </div>
  <div class="row mt-3 justify-content-center">
    <img src="quality-check.png" width="100px" height="100px">
  </div>
  <div class="row mt-3 justify-content-center h4">
    <span>Order Confirmation Number</span>
  </div>
  <div class="row justify-content-center h4">
    <span>#001</span>
  </div>
  <div class="row mt-4 justify-content-center text-danger h4">
    <span>Guaranteed Delivery within 24 hrs.</span>
  </div>
  <hr class="mt-5 message-line">
  <div class="row mt-2 justify-content-center text-info h4">
    <span>If you have any queryies do not hesitate to contact us @ +91-9921546785</span>
  </div>
  <div class="row mt-4 justify-content-center h5">
    <span>In the meantime, may we suggest you to watch some binge worthy sensations</span>
  </div>
  <div class="row mt-3 justify-content-center binge-series-row w-50 ml-auto mr-auto">
    <div class="col-md-2"><img src="binge-series.jfif" class="img-responsive rounded w-100" ></div>
    <div class="col-md-2"><img src="binge-series.jfif" class="img-responsive rounded w-100" ></div>
    <div class="col-md-2"><img src="binge-series.jfif" class="img-responsive rounded w-100" ></div>
    <div class="col-md-2"><img src="binge-series.jfif" class="img-responsive rounded w-100" ></div>
    <div class="col-md-2"><img src="binge-series.jfif" class="img-responsive rounded w-100" ></div>
  </div>
  <hr class="mt-2 binge-line">

</div>

<script src="js/jquery.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>

</html>